<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/profile.jpg" alt="profile" class="img-fluid pro" title="profile image">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <h1>I am a <span >MERN stack developer</span> and a student in VIT.</h1>
                        <a  href="https://github.com/Arpankarar"><button type="button" class="btn btn-outline-secondary btn-check">Github Profile</button></a>
                            
                        
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
 